In [68]:
# importing critical libraries
import pandas            as pd
import matplotlib.pyplot as plt
import seaborn           as sns
import numpy as np


# importing model types
import sklearn.linear_model# linear models for you to enjoy
from sklearn.neighbors import KNeighborsRegressor
# importing ML tools
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler # standardizing data
import statsmodels.api as sm

In [69]:
# preparing data for modelling
train_file= "TB train1.csv"
train_data=pd.read_csv(file)
train_data=pd.DataFrame(data)
train_data

,tuberculosis_data_1,Social_connectedness,Refugee_Population,school_enrolment_data,Poverty_index
0,326,64.48,8463,0.88228,23.2
1,324,64.55,10127,0.88811,23.4
2,322,64.54,9129,0.89630,22.5
3,321,64.52,8744,0.90850,22.6
4,321,64.62,8803,0.93277,21.4
5,323,62.33,3151,0.97416,18.8
6,326,59.99,1688,0.97484,16.3
7,330,59.83,1237,0.98539,12.5

In [70]:
#splilliting data into dependent and independent variables 
train_y=train_data["tuberculosis_data_1"]
train_x=train_data.drop("tuberculosis_data_1",axis=1)

In [71]:
train_y

0    326
1    324
2    322
3    321
4    321
5    323
6    326
7    330
Name: tuberculosis_data_1, dtype: int64

In [72]:
train_x

,Social_connectedness,Refugee_Population,school_enrolment_data,Poverty_index
0,64.48,8463,0.88228,23.2
1,64.55,10127,0.88811,23.4
2,64.54,9129,0.89630,22.5
3,64.52,8744,0.90850,22.6
4,64.62,8803,0.93277,21.4
5,62.33,3151,0.97416,18.8
6,59.99,1688,0.97484,16.3
7,59.83,1237,0.98539,12.5

In [73]:
model=sklearn.linear_model.LinearRegression() # creating a regression machine learning model

In [74]:
model

LinearRegression()

In [75]:
model=model.fit(train_x,train_y) # fitting data into model

In [76]:
score=model.score(train_x,train_y)

In [77]:
# preparing data for prediction
test_file="TB test.csv"
test_data=pd.read_csv(test_file)
test_data=pd.DataFrame(test_data)
test_data

,tuberculosis_data_1,Social_connectedness,Refugee_Population,school_enrolment_data,Poverty_ndex
0,?,64.48,8463,0.88228,21.2
1,?,74.55,10127,0.88811,22.4
2,?,61.54,9129,0.79637,23.5
3,?,62.52,7744,0.98852,22.8
4,?,65.62,8103,0.93277,21.4
5,?,62.33,5151,0.97416,18.8
6,?,60.99,2688,0.97484,16.3
7,?,59.83,1237,0.98539,12.5

In [78]:
test_x=test_data.drop("tuberculosis_data_1",axis=1)

In [79]:
model_pred=model.predict(test_x)
model_pred

array([327.49635584, 325.36754895, 334.94642368, 312.1915171 ,
       321.19211238, 320.91640544, 325.66200665, 329.81013171])

In [80]:
# making model predictions and comparing actual values to predicted values
prediction=pd.DataFrame(model_pred,train_y,columns=["predictions"])
prediction

                     predictions
tuberculosis_data_1
326                   327.496356
324                   325.367549
322                   334.946424
321                   312.191517
321                   321.192112
323                   320.916405
326                   325.662007
330                   329.810132

 The data  above contains our actual values on the first column and the model predicted values on the second column which we can see are very close to the actual values meaning our model is a very good fit for our data, hence we can introduce more data into these model to increase its accuracy in prediction furthermore.
  NOTE: the accuracy of these model is approx 90% as seen below

In [81]:
# checking model accuracy
print("model accuracy= " , score.round(2)*100, "%" )

model accuracy=  90.0 %